*{
          padding:0%;
          margin:0%;
          box-sizing: border-box;
}
body {
          height: 90vh;
          background-color: rgb(20, 19, 19);
          justify-content: center;
          display: flex;
          align-items: center;
         
        }
        .container{
          background-color: #393838;
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 5px 15px rgba(0,0,0,0.2)
        }
        h1{
          color: #fff;
          padding-bottom:10px;
        }
        h2{
          color: #fff;
          padding-top: 10px ;
          padding-bottom:10px ;
        }
        p{
          color: #fff;
        }

#product-list{
  color: #fff;
  padding: 5px;
  background-color: rgb(23, 23, 22);
}



#empty-cart{
  display: none;
}


       
        
.product List {
justify-content:space-between;
align-items:center;
border-radius:5px;
      } 

.product button{
  background-color: #58109c;
  border:none;
  color:aliceblue;
  padding:5px 10px;
  border-radius: 5px;
  cursor:pointer;
  transition: background-color 0.3s;
}

.product button:hover{
  background-color: #1d1c1e;
}
        #cart-items{
          margin-bottom: 20px;
        }

        #cart-total{
          text-align:right;
        }

        #checkout-btn{
          background-color: #7b71e7;
          border:none;
          padding:10px;
          color:#fff;
          border-radius:5px;
          cursor:pointer;
          transition:background-color 0.3s;
        }

        #checkout-btn:hover{
          background-color: blue;
        }

        .hidden{
          display:none;
        }